flows.json
[{"id":"b2e51589d9468493","type":"tab","label":"Desafio 1","disabled":false,"info":"","env":[]},{"id":"542e32a5dba29b77","type":"tab","label":"Desafio 2","disabled":false,"info":"","env":[]},{"id":"fb1993946dd81498","type":"tab","label":"Desafio 1","disabled":false,"info":"","env":[]},{"id":"cad9abe5f32bedab","type":"tab","label":"Desafio 2","disabled":false,"info":"","env":[]},{"id":"d0d04e9625a2870d","type":"tab","label":"Desafio 5","disabled":false,"info":"","env":[]},{"id":"ab85f2d30df4d24e","type":"ui_group","name":"Temperatura","tab":"510b66f76784bd9b","order":1,"disp":true,"width":16,"collapse":false,"className":""},{"id":"510b66f76784bd9b","type":"ui_tab","name":"São Paulo","icon":"dashboard","disabled":false,"hidden":false},{"id":"abb9a2e29e38756c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#05f3ff","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#05f3ff","edited":true},"page-titlebar-backgroundColor":{"value":"#05f3ff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#51f7ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#05f3ff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7323770a6815363","type":"ui_group","name":"Vento","tab":"510b66f76784bd9b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c5801b7e12720682","type":"ui_group","name":"Gráfico","tab":"510b66f76784bd9b","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"b54c3f01ba6c210c","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"60291a147ddb34c0","type":"inject","z":"b2e51589d9468493","name":"Desafio 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":280,"wires":[["f867a76fddc73deb"]]},{"id":"f867a76fddc73deb","type":"http request","z":"b2e51589d9468493","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo,BR&appid=85b6e16cb0f7d04e6ee3f6aebdae807c&units=metric","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":280,"wires":[["f1c7421742b802a2"]]},{"id":"f1c7421742b802a2","type":"json","z":"b2e51589d9468493","name":"","property":"payload","action":"","pretty":false,"x":170,"y":420,"wires":[["4ae2c72d8d9bd691","c7ef783b2d044e17","acc3bbfce0bef989"]]},{"id":"c7ef783b2d044e17","type":"debug","z":"b2e51589d9468493","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"4ae2c72d8d9bd691","type":"change","z":"b2e51589d9468493","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":380,"wires":[["c7ef783b2d044e17"]]},{"id":"acc3bbfce0bef989","type":"function","z":"b2e51589d9468493","name":"Funcao Retorna","func":"msg.payload = {\n    \"temperatura\": msg.payload.main.temp,\n    \"minima\": msg.payload.main.temp_min,\n    \"maxima\": msg.payload.main.temp_max,\n    \"vento\": msg.payload.wind.speed,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["c7ef783b2d044e17"]]},{"id":"7da13b131a3c9214","type":"inject","z":"542e32a5dba29b77","name":"Desafio 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["50ad9f6d2591c273"]]},{"id":"50ad9f6d2591c273","type":"http request","z":"542e32a5dba29b77","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo,BR&appid=85b6e16cb0f7d04e6ee3f6aebdae807c&units=metric","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":160,"wires":[["39d19a2a7617eb80"]]},{"id":"39d19a2a7617eb80","type":"json","z":"542e32a5dba29b77","name":"","property":"payload","action":"","pretty":false,"x":130,"y":220,"wires":[["681c45f46ca93957","5916a679b9a53874","1fb448f22ea9c5c3","3d12f105e1dfcbb6","39054953c303de93","b00317ca233f559b"]]},{"id":"681c45f46ca93957","type":"change","z":"542e32a5dba29b77","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["9515e97038b07e02","83c212fd54ab8ae8"]]},{"id":"5916a679b9a53874","type":"change","z":"542e32a5dba29b77","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["0acc5b7edb63bc9a"]]},{"id":"1fb448f22ea9c5c3","type":"change","z":"542e32a5dba29b77","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["59257dee61991bc8"]]},{"id":"3d12f105e1dfcbb6","type":"change","z":"542e32a5dba29b77","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["d0cc068f42405439"]]},{"id":"9515e97038b07e02","type":"ui_gauge","z":"542e32a5dba29b77","name":"","group":"ab85f2d30df4d24e","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"30","diff":false,"className":"","x":630,"y":260,"wires":[]},{"id":"0acc5b7edb63bc9a","type":"ui_gauge","z":"542e32a5dba29b77","name":"","group":"ab85f2d30df4d24e","order":2,"width":4,"height":4,"gtype":"gage","title":"Temp. Minima","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"30","diff":false,"className":"","x":640,"y":320,"wires":[]},{"id":"59257dee61991bc8","type":"ui_gauge","z":"542e32a5dba29b77","name":"","group":"ab85f2d30df4d24e","order":4,"width":4,"height":4,"gtype":"gage","title":"Temp. Máxima","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"30","diff":false,"className":"","x":640,"y":380,"wires":[]},{"id":"d0cc068f42405439","type":"ui_gauge","z":"542e32a5dba29b77","name":"","group":"a7323770a6815363","order":1,"width":0,"height":0,"gtype":"gage","title":"Velocidade do vento","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#dbf0ff","#00b3ff","#0049a8"],"seg1":"","seg2":"","diff":false,"className":"","x":660,"y":440,"wires":[]},{"id":"39054953c303de93","type":"change","z":"542e32a5dba29b77","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["774e46943ab69bfc"]]},{"id":"774e46943ab69bfc","type":"ui_gauge","z":"542e32a5dba29b77","name":"","group":"ab85f2d30df4d24e","order":1,"width":4,"height":4,"gtype":"gage","title":"Humidade Relativa","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"40","seg2":"70","diff":false,"className":"","x":650,"y":500,"wires":[]},{"id":"b00317ca233f559b","type":"change","z":"542e32a5dba29b77","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.feels_like","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":560,"wires":[["d2380658b11ddae1"]]},{"id":"d2380658b11ddae1","type":"ui_gauge","z":"542e32a5dba29b77","name":"","group":"ab85f2d30df4d24e","order":3,"width":4,"height":4,"gtype":"gage","title":"Sensação Termica","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"30","diff":false,"className":"","x":650,"y":560,"wires":[]},{"id":"83c212fd54ab8ae8","type":"ui_chart","z":"542e32a5dba29b77","name":"","group":"c5801b7e12720682","order":1,"width":0,"height":0,"label":"Gráfico de temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-10","ymax":"50","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":670,"y":220,"wires":[[]]},{"id":"e71af37f36f23937","type":"inject","z":"fb1993946dd81498","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":280,"wires":[["47d413184532ec77"]]},{"id":"47d413184532ec77","type":"http request","z":"fb1993946dd81498","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo,BR&appid=85b6e16cb0f7d04e6ee3f6aebdae807c&units=metric","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":280,"wires":[["295648f4dc475971"]]},{"id":"295648f4dc475971","type":"json","z":"fb1993946dd81498","name":"","property":"payload","action":"","pretty":false,"x":170,"y":420,"wires":[["5fb78b77ad9f3f7f","01216635ceab0e03","085706015c1023f8"]]},{"id":"01216635ceab0e03","type":"debug","z":"fb1993946dd81498","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"5fb78b77ad9f3f7f","type":"change","z":"fb1993946dd81498","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":380,"wires":[["01216635ceab0e03"]]},{"id":"085706015c1023f8","type":"function","z":"fb1993946dd81498","name":"Funcao Retorna","func":"msg.payload = {\n    \"temperatura\": msg.payload.main.temp,\n    \"minima\": msg.payload.main.temp_min,\n    \"maxima\": msg.payload.main.temp_max,\n    \"vento\": msg.payload.wind.speed,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["01216635ceab0e03"]]},{"id":"67b542747199163c","type":"inject","z":"cad9abe5f32bedab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["cb2554ea687ff26c"]]},{"id":"cb2554ea687ff26c","type":"http request","z":"cad9abe5f32bedab","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo,BR&appid=85b6e16cb0f7d04e6ee3f6aebdae807c&units=metric","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":160,"wires":[["8dd16cb866f7b2ba"]]},{"id":"8dd16cb866f7b2ba","type":"json","z":"cad9abe5f32bedab","name":"","property":"payload","action":"","pretty":false,"x":130,"y":220,"wires":[["b27e45ea7bacb62f","da9dd2fc8784933f","d73a29b7c6afdb23","e7262697d414b721","02f750d71d80c785","2be1ebe7d64f4c60"]]},{"id":"b27e45ea7bacb62f","type":"change","z":"cad9abe5f32bedab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["fed66ec550577708","6956473b683e8f4b"]]},{"id":"da9dd2fc8784933f","type":"change","z":"cad9abe5f32bedab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["b9b77dd92c49ae02"]]},{"id":"d73a29b7c6afdb23","type":"change","z":"cad9abe5f32bedab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["3f33482fd17e8490"]]},{"id":"e7262697d414b721","type":"change","z":"cad9abe5f32bedab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["f2edc0ef75a08613"]]},{"id":"fed66ec550577708","type":"ui_gauge","z":"cad9abe5f32bedab","name":"","group":"ab85f2d30df4d24e","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"30","diff":false,"className":"","x":630,"y":260,"wires":[]},{"id":"b9b77dd92c49ae02","type":"ui_gauge","z":"cad9abe5f32bedab","name":"","group":"ab85f2d30df4d24e","order":2,"width":4,"height":4,"gtype":"gage","title":"Temp. Minima","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"30","diff":false,"className":"","x":640,"y":320,"wires":[]},{"id":"3f33482fd17e8490","type":"ui_gauge","z":"cad9abe5f32bedab","name":"","group":"ab85f2d30df4d24e","order":4,"width":4,"height":4,"gtype":"gage","title":"Temp. Máxima","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"30","diff":false,"className":"","x":640,"y":380,"wires":[]},{"id":"f2edc0ef75a08613","type":"ui_gauge","z":"cad9abe5f32bedab","name":"","group":"a7323770a6815363","order":1,"width":0,"height":0,"gtype":"gage","title":"Velocidade do vento","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#dbf0ff","#00b3ff","#0049a8"],"seg1":"","seg2":"","diff":false,"className":"","x":660,"y":440,"wires":[]},{"id":"02f750d71d80c785","type":"change","z":"cad9abe5f32bedab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["95ca37d82ebeea81"]]},{"id":"95ca37d82ebeea81","type":"ui_gauge","z":"cad9abe5f32bedab","name":"","group":"ab85f2d30df4d24e","order":1,"width":4,"height":4,"gtype":"gage","title":"Humidade Relativa","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"40","seg2":"70","diff":false,"className":"","x":650,"y":500,"wires":[]},{"id":"2be1ebe7d64f4c60","type":"change","z":"cad9abe5f32bedab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.feels_like","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":560,"wires":[["9462dd995f4a9fb1"]]},{"id":"9462dd995f4a9fb1","type":"ui_gauge","z":"cad9abe5f32bedab","name":"","group":"ab85f2d30df4d24e","order":3,"width":4,"height":4,"gtype":"gage","title":"Sensação Termica","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"30","diff":false,"className":"","x":650,"y":560,"wires":[]},{"id":"6956473b683e8f4b","type":"ui_chart","z":"cad9abe5f32bedab","name":"","group":"c5801b7e12720682","order":1,"width":0,"height":0,"label":"Gráfico de temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-10","ymax":"50","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":670,"y":220,"wires":[[]]},{"id":"26c2fe756b8d3b22","type":"mqtt in","z":"d0d04e9625a2870d","name":"","topic":"guiOliveira/Fiap/Teste","qos":"2","datatype":"auto-detect","broker":"b54c3f01ba6c210c","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":260,"wires":[["d33bead1893fd133"]]},{"id":"a8f021a75f221417","type":"mqtt out","z":"d0d04e9625a2870d","name":"","topic":"guiOliveira/Fiap/Teste","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b54c3f01ba6c210c","x":440,"y":200,"wires":[]},{"id":"07439bd1afa80cdc","type":"inject","z":"d0d04e9625a2870d","name":"Desafio 5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":160,"y":200,"wires":[["a8f021a75f221417"]]},{"id":"d33bead1893fd133","type":"debug","z":"d0d04e9625a2870d","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":260,"wires":[]}]